.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #ffffff; /* Cambiar a blanco */
  padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.welcome-text {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 2s 0.5s forwards; /* Animación de entrada con delay */
  font-family: 'Montserrat', sans-serif; /* Usar la misma fuente para el texto de bienvenida */
}

.homepage-boxes {
  display: flex;
  justify-content: space-between; /* Ajustar para mejor separación */
  width: 90%; /* Ajustar el ancho del contenedor de los cuadros */
  margin-bottom: 40px;
}

.homepage-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 15px; /* Ajustar margen horizontal entre los cuadros */
  width: 20%;
  height: 150px; /* Incrementar la altura de los cuadros */
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Añadir transición para el cambio de color */
  opacity: 0;
  animation: fadeInLeft 1s forwards; /* Animación de aparición desde la izquierda */
  font-family: 'Montserrat', sans-serif; /* Usar la misma fuente para las cajas */
}

.homepage-box:nth-child(1) {
  animation-delay: 1s; /* Retardo para el primer cuadro */
}

.homepage-box:nth-child(2) {
  animation-delay: 1.5s; /* Retardo para el segundo cuadro */
}

.homepage-box:nth-child(3) {
  animation-delay: 2s;
}

.homepage-box:nth-child(4) {
  animation-delay: 2.5s;
}

.homepage-box:hover {
  background-color: #FFAD32;
  color: #fff;
}

.news {
  width: 90%;
  opacity: 0;
  animation: fadeIn 2s 3s forwards;
  font-family: 'Montserrat', sans-serif;
}

.news h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.news-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
