.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/images/home/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  font-family: 'Montserrat', sans-serif;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-family: 'Montserrat', sans-serif; /
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

.form-control:focus {
  border-color: #FF5038;
  box-shadow: 0 0 5px rgba(255, 80, 56, 0.2);
}

.btn-primary {
  background-color: #FF5038;
  border-color: #FF5038;
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.btn-primary:hover {
  background-color: #FFAD32;
  border-color: #FFAD32;
}

.btn-primary:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 80, 56, 0.2);
}
