<div class="container">
  <h2>Itinerario - Data Engineer</h2>
  <hr>
  <p class="objective">Objetivo: Construir y mantener infraestructuras de datos escalables y eficientes, optimizando el flujo y almacenamiento de datos.</p>

  <div class="itinerary">
    <h3>1. Itinerario de aprendizaje básico para Data Engineer</h3>
    <table class="table table-bordered fixed-table">
      <thead>
        <tr>
          <th>Categorías</th>
          <th>Tecnologías</th>
          <th>Estimación de Tiempo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lenguajes de Programación</td>
          <td>
            <ul>
              <li>Python</li>
              <li>SQL</li>
            </ul>
          </td>
          <td>2-3 días</td>
        </tr>
        <tr>
          <td>Herramientas Transformación Datos</td>
          <td>
            <ul>
              <li>Spark</li>
              <li>DBT</li>
            </ul>
          </td>
          <td>1-2 días</td>
        </tr>
        <tr>
          <td>Plataformas de Datos</td>
          <td>
            <ul>
              <li>Snowflake</li>
              <li>BigQuery</li>
              <li>AWS S3</li>
            </ul>
          </td>
          <td>3-4 días</td>
        </tr>
        <tr>
          <td>Herramientas Desarrollo/Devops</td>
          <td>
            <ul>
              <li>Docker</li>
              <li>Kubernetes</li>
            </ul>
          </td>
          <td>1-2 días</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="itinerary">
    <h3>2. Itinerario de aprendizaje avanzado para Data Engineer</h3>
    <table class="table table-bordered fixed-table">
      <thead>
        <tr>
          <th>Categorías</th>
          <th>Tecnologías</th>
          <th>Estimación de Tiempo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lenguajes de Programación</td>
          <td>
            <ul>
              <li>Python</li>
              <li>Java</li>
              <li>SQL</li>
              <li>Scala</li>
            </ul>
          </td>
          <td>3-4 días</td>
        </tr>
        <tr>
          <td>Frameworks Back-End</td>
          <td>
            <ul>
              <li>Flask</li>
              <li>Express.js</li>
            </ul>
          </td>
          <td>2-3 días</td>
        </tr>
        <tr>
          <td>Herramientas BI</td>
          <td>
            <ul>
              <li>Apache Superset</li>
              <li>Metabase</li>
            </ul>
          </td>
          <td>1-2 días</td>
        </tr>
        <tr>
          <td>Herramientas Transformación Datos</td>
          <td>
            <ul>
              <li>Spark</li>
              <li>Kafka</li>
              <li>Talend</li>
              <li>DBT</li>
            </ul>
          </td>
          <td>3-4 días</td>
        </tr>
        <tr>
          <td>Plataformas de Datos</td>
          <td>
            <ul>
              <li>Snowflake</li>
              <li>BigQuery</li>
              <li>AWS S3</li>
              <li>Azure Data Lake Gen2</li>
              <li>Databricks</li>
            </ul>
          </td>
          <td>4-5 días</td>
        </tr>
        <tr>
          <td>Herramientas Desarrollo/Devops</td>
          <td>
            <ul>
              <li>Docker</li>
              <li>Kubernetes</li>
              <li>Terraform</li>
              <li>Ansible</li>
            </ul>
          </td>
          <td>2-3 días</td>
        </tr>
        <tr>
          <td>Otras Herramientas de Datos</td>
          <td>
            <ul>
              <li>Airflow</li>
              <li>Great Expectations</li>
            </ul>
          </td>
          <td>1-2 días</td>
        </tr>
        <tr>
          <td>Arquitectura y Habilidades Core</td>
          <td>
            <ul>
              <li>Modelado Data Vault</li>
              <li>Soluciones Data Quality</li>
              <li>Soluciones Real Time / Streaming</li>
            </ul>
          </td>
          <td>4-5 días</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
