h2 {
  color: #2c3e50;
}

.custom-link {
  font-weight: bold;
  color: #FF5038;
  text-decoration: none;
}

.custom-link:hover {
  font-weight: bold;
  color: #FFAD32;
  text-decoration: underline;
}

.resource-name {
  font-weight: bold;
  color: #333333;
}

.nav-tabs .nav-link.active {
  color: #FF5038;
  border-color: #FF5038 #FF5038 #fff;
  background-color: #fff;
}

.nav-tabs .nav-link {
  color: #2c3e50;
}

.card-title {
  font-size: 2rem;
  color: #FF5038;
  font-weight: bold;
  border-bottom: 2px solid #FF5038;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.status-badge {
  display: inline-block;
  width: 110px;
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  opacity: 0.8;
}

.status-badge.completado {
  background-color: rgba(40, 167, 69, 0.8);
}

.status-badge.en-curso {
  background-color: rgba(255, 193, 7, 0.8);
}

.status-badge.sin-iniciar {
  background-color: rgba(108, 117, 125, 0.8);
}

.table td:nth-child(2) {
  padding-right: 2rem;
}

.test-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.test-button-coral {
  background-color: #FF5038;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.test-button-coral:hover {
  background-color: #FFAD32;
}

.test-button-grey {
  background-color: #ccc;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}
