<!-- ============================================================== -->
<!-- Perfil -->
<!-- ============================================================== -->
<app-profile></app-profile>


<app-comunities></app-comunities>

<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->

<app-score-skills></app-score-skills>
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
<app-blog-cards></app-blog-cards>
<!-- ============================================================== -->
<!-- cards -->
<!-- ============================================================== -->
