<div class="card">
  <div class="card-body">
    <!-- title -->
    <h4 class="card-title">Capacidades Técnicas Completadas</h4>
    <h5 class="card-subtitle">Por categorías y tecnologías</h5>

    <!-- table -->
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4">Categoría</th>
            <th class="text-dark font-medium fs-4">Tecnología</th>
            <th class="text-dark font-medium fs-4">Dificultad</th>
            <th class="text-dark font-medium fs-4">Puntuación</th>
            <th class="text-dark font-medium fs-4">Fecha Test</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ts of ScoreSkills">
            <td class="fs-4">{{ ts.category }}</td>
            <td class="fs-4">{{ ts.productName }}</td>
            <td class="fs-4">{{ ts.difficulty }}</td>
            <td class="fs-4">{{ ts.testScore }}</td>
            <td class="fs-4">{{ ts.testDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
