<div class="home-container">
  <div class="welcome-text">¡Bienvenido/a a Civicampus!</div>
  <div class="home-boxes">
    <div class="home-box" (click)="navigateTo('dashboard')">Mi perfil</div>
    <div class="home-box" (click)="navigateTo('recommendations')">Itinerarios</div>
    <div class="home-box" (click)="navigateTo('resources')">Recursos</div>
    <div class="home-box" (click)="navigateTo('about')">A cerca de</div>
  </div>
  <div class="news">
    <h2>Últimas Noticias</h2>
    <div class="news-item">
      <h3>Nuevo Curso: Ingeniería de Datos</h3>
      <p>Fecha de inicio: 30/09/2024</p>
      <p>Fecha de fin: 29/11/2024</p>
      <p>Estamos emocionados de anunciar un nuevo curso sobre Ingeniería de Datos disponible para inscripciones. ¡Si estas interesado ponte en contacto con nosotros!</p>
    </div>
    <div class="news-item">
      <h3>Evento: Taller de Comunicación Efectiva</h3>
      <p>Fecha de inicio: 23/09/2024</p>
      <p>Fecha de fin: 27/09/2024</p>
      <p>No te pierdas nuestro próximo taller sobre Comunicación Efectiva. Aprende técnicas y estrategias para mejorar tus habilidades comunicativas.</p>
    </div>
  </div>
</div>
