.home-container {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
  background-image: url('../../assets/images/home/fondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
}

.logo-container {
  position: absolute;
  top: 80px;
  right: 200px;
  width: 400px;
  height: auto;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.logo-container img {
  width: 100%;
  height: auto;
}

.left-section {
  width: 60%;
  padding: 50px;
  padding-top: 200px;
  opacity: 0;
  animation: fadeInLeft 1s 1s forwards;
}

.welcome-text {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 40px;
  color: #FF5038;
}

.home-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 48%;
  height: 250px;
  text-align: left;
  font-size: 30px;
  font-weight: normal;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #FFFFFF;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.home-box i {
  font-size: 50px; /* Aumentar o disminuir el tamaño del icono */
  margin-bottom: 10px; /* Espacio entre el icono y el texto */
  color: #FFFFFF; /* Color del icono blanco */
}


.home-box:nth-child(odd) {
  margin-bottom: 20px;
}

.home-box:hover {
  background-color: rgba(255, 173, 50, 0.6);
  color: #FFFFFF;
}

.home-box span::after {
  content: '';
  display: block;
  width: 50%;
  height: 5px;
  background-color: #FFFFFF;
  margin-top: 5px;
}

.news-section {
  width: 40%;
  padding: 50px;
  padding-top: 300px;
  opacity: 0;
  animation: fadeIn 4s 2s forwards;
}

.news-section h2 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333333;
}

.news-item {
  background-color: transparent;
  border: none;
  border-radius: 0;
  padding: 10px 0;
  margin: 15px 0;
  box-shadow: none;
  font-size: 16px;
  color: #333333;
  border-bottom: 1px solid #ddd;
}

.news-item h3 {
  font-size: 20px;
  font-weight: bold;
  color: #FF5038;
  margin-bottom: 5px;
}

.news-item p {
  font-size: 14px;
  color: #666666;
  margin-bottom: 5px;
}

.news-item .news-date {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666666;
}

.news-item .news-date i {
  font-size: 16px;
  color: #FF5038;
  margin-right: 5px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
