<div class="card">
  <div class="card-body">
    <!-- title -->
    <h4 class="card-title">Detalles de las Comunidades</h4>
    <h5 class="card-subtitle">Porcentajes de completado</h5>

    <!-- table -->
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th class="text-dark font-medium fs-4"></th>
            <th class="text-dark font-medium fs-4">Categoría</th>
            <th class="text-dark font-medium fs-4">Porcentaje</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let comunities of comunities">
            <td class="text-center align-middle">
              <div class="icon-circle bg-gray">
                <i class="{{comunities.icon}}"></i>
              </div>
            </td>
            <td class="fs-4 align-middle">{{comunities.subtitle}}</td>
            <td class="align-middle">
              <div class="progress mt-1">
                <div class="progress-bar" [ngClass]="{'bg-green': comunities.percentage > 60, 'bg-yellow': comunities.percentage > 0 && comunities.percentage <= 60, 'bg-gray': comunities.percentage === 0}" role="progressbar" [style.width.%]="comunities.percentage" [attr.aria-valuenow]="comunities.percentage" aria-valuemin="0" aria-valuemax="100">{{comunities.percentage}}%</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
