// Sidebar
$sidebar-link-padding: 14px 15px;
$sidebar-icon-size: 18px;
$sidebar-first-level-padding: 0 0 10px 0;
$sidebar-first-level-link-padding: 10px 15px;
$sidebar-first-level-icon-size: 14px;

/*******************
Main sidebar
******************/

.left-sidebar {
  position: absolute;
  width: $sidebar-width-full;
  height: 100%;
  top: 0px;
  z-index: 99;
  padding-top: 64px;
  background: $sidebar;
  box-shadow: $shadow;
  transition: 0.2s ease-in;
}

/*******************
sidebar navigation
******************/

.sidebar-nav {
  ul {
    .sidebar-item {
      width: $sidebar-width-full;
      .sidebar-link {
        color: $sidebar-text-dark !important; // color negro por defecto
        padding: $sidebar-link-padding;
        display: flex;
        white-space: nowrap;
        align-items: center;
        line-height: 25px;
        font-weight: 400;
        i {
          font-style: normal;
          width: 35px;
          line-height: 25px;
          font-size: $sidebar-icon-size;
          color: $sidebar-icons-dark !important; // color negro por defecto para iconos
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &.active,
        &:hover {
          color: #FF5038 !important;  // Cambia el color del texto del enlace activo y en hover
          i,
          .feather {
            color: #FF5038 !important;  // Cambia el color del icono dentro del enlace activo y en hover
          }
        }
      }
      &.active > .sidebar-link {
        color: #FF5038 !important;  // Asegúrate de que el texto del enlace activo también cambie de color
        i,
        .feather {
          color: #FF5038 !important;  // Asegúrate de que el icono del enlace activo también cambie de color
        }
      }
      &:not(.active) > .sidebar-link {
        color: $sidebar-text-dark !important;  // Asegúrate de que el texto del enlace inactivo vuelva a su color predeterminado
        i,
        .feather {
          color: $sidebar-icons-dark !important;  // Asegúrate de que el icono del enlace inactivo vuelva a su color predeterminado
        }
      }
    }
  }
}

/*******************
 common m-p removed
******************/
.sidebar-nav {
  ul {
    margin: 0px;
    padding: 0px;
    li {
      list-style: none;
    }
  }
}
.collapse.in {
  display: block;
}
