<div class="card">
  <div class="card-body">
    <!-- title -->
    <h4 class="card-title">Herramientas BI</h4>
    <div class="row mt-1">
      <div class="col-md-12">
        <div class="card">
          <div class="p-3"></div>
          <div class="card-body border-top">
            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
              <li [ngbNavItem]="1">
                <button ngbNavLink>Teoría y ejercicios</button>
                <ng-template ngbNavContent>
                  <!-- Modificado para incluir recursos en una tabla -->
                  <div class="table-responsive mt-4">
                    <table class="table align-middle">
                      <thead>
                        <tr>
                          <th class="text-dark font-medium fs-4">Tecnología</th>
                          <th class="text-dark font-medium fs-4">Descripción</th>
                          <th class="text-dark font-medium fs-4">Estado</th>
                          <th class="text-dark font-medium fs-4">Acceso</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let resource of hBiResources">
                          <td class="fs-4 resource-name">{{ resource.name }}</td>
                          <td class="fs-4">{{ resource.description }}</td>
                          <td>
                            <span class="status-badge" [ngClass]="{
                              'completado': resource.status === 'Completado',
                              'en-curso': resource.status === 'En curso',
                              'sin-iniciar': resource.status === 'Sin iniciar'
                            }">{{ resource.status }}</span>
                          </td>
                          <td>
                            <a href="#" class="custom-link" (click)="showResourceModal($event, resource)">Recursos Disponibles</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </ng-template>
              </li>
              <li [ngbNavItem]="2">
                <button ngbNavLink>Test de Competencias</button>
                <ng-template ngbNavContent>
                  <h5 class="mt-4">Test Disponibles</h5>
                  <div class="test-buttons mt-3">
                    <button *ngFor="let resource of hBiResources"
                            [ngClass]="{'test-button-coral': resource.status !== 'Completado', 'test-button-grey': resource.status === 'Completado'}"
                            (click)="takeTest(resource)">
                      Test {{ resource.name }}
                    </button>
                  </div>
                </ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Test Modal -->
<div class="modal fade" id="testModal" tabindex="-1" aria-labelledby="testModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="testModalLabel">Test</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ modalMessage }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="background-color: #FF5038; border-color: #FF5038;" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- Resources Modal -->
<div class="modal fade" id="resourceModal" tabindex="-1" aria-labelledby="resourceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resourceModalLabel">Recursos Disponibles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        No hay recursos disponibles para esta tecnología.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="background-color: #FF5038; border-color: #FF5038;" data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
